<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
		comment
		-->

		<!--
		true - headless, false - normal with GUI
		-->
		<add key="headless_browser_mode" value="true"/>
		<add key="RM_user" value=""/>
		<add key="RM_password" value=""/>
		<add key="Continuous_Errors_Count" value="5"/>
		<add key="RM_bot_token" value=""/>
		<add key="Telegram_ChatIds" value="xxx,xxx"/>
	</appSettings>
</configuration>